*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


:root{

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

     --Dark-gray: hsl(0, 0%, 59%);
}



body{

  font-family: 'kumbh Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-img{
  background:url("/images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 970px;
  width: 970px;
  position: absolute;
  top: -528px;
  left: -284px;
  

}

.bott-img{
    background: url("/images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 970px;
    width: 970px;
    position: absolute;
    bottom: -528px;
    right: -284px;
}


.box{
 background-color: white;
 width: 350px;
 height: 380px;
 border-radius: 20px;
 position: relative;
 left: 80px;
 bottom: 10px;
}


.box-img{
    background:url("../images/bg-pattern-card.Svg");
      width: 350px;   
       height: 140px;
       background-size: contain;
       background-repeat: no-repeat;


}      


.profile-pic{


  height: 100px;
  width: 100px;
border-radius: 50%;
background: url(../images/image-victor.jpg);
background-size: contain;
background-repeat: no-repeat;
position: relative;
left: 8rem;
bottom: 3rem;
}
.heading h4{
    display: inline;
     position: relative;
     left: 8rem;
     bottom: 1rem;
}
.h1{
    color: black;
    
}
.h2{
    color: var(--Dark-gray);
    padding-left: 5px;
}
.h3{

    color: var(--Dark-gray);
    position: relative;
    left: 9.5rem;
    margin-top: 1rem;
    bottom: 1rem;
}
.profile-data{
margin: 1rem;    
display: flex;
flex-direction: row;
justify-content: space-between;
}
.data1{
    font-weight: 600;
    color: black;
}
.data2{
    color: var(--Dark-gray);
    font-size: medium;
}
.profile-data2{
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: .75rem;
    }
